* {
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: center;
}
*:focus {
  outline: none;
}

html, body{
  height: 100%;
  margin:0px;
  border:0px;
  padding:0px;
}

.bg{
  background-image: -webkit-linear-gradient(bottom, #076585, #fff );  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(at bottom, #076585, #fff ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.bg-grad{
  background-image: -linear-radial-gradient(bottom, #fff , #076585 );
  background-image: linear-gradient(at bottom, #fff , #076585 );
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.bg-grad.toggleGradient{
  opacity: 1;
}

#timers div{
  line-height: 1;
}

section{
  position: relative;
  margin: 0 auto;
  padding:1em;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}
/*TIMERS*/
.timer .time{
  color:#302f34;
  font-weight: 600;
  font-size: 70px;
}

.timer .bonus-time{
  color:#302f34;
  font-weight: 400;
  font-size: 40px;
}
/*CONTROL*/
#control-button{
  border:1px solid #302f34;
  border-radius:3px;
  display: inline-block;
  padding: 15px 10px;
  color:#302f34;
  font-size: 24px;
}
#control-button:hover{
  opacity: .75;
}

/*STATS*/
#stats{
  width: 60%;
}
.time-section{
  border:1px solid #302f34;
  border-radius:3px;
  display: block;
  padding: 15px 10px;
  color:#302f34;
  font-size: 24px;
  width: 200px;
  margin:5px auto; 
}

